{% extends 'base.html' %}
{% block content %}
    <body>
    <div class="head-bread">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="register.html">LOGIN</a></li>
                <li class="active">REGISTER</li>
            </ol>
        </div>
    </div>
    <!-- reg-form -->
    <div class="reg-form">
        <div class="container">
            <div class="reg">
                <h3>Register Now</h3>
                <p>Welcome, please enter the following details to continue.</p>
                <p>If you have previously registered with us, <a href="#">click here</a></p>
                <form>
                    <ul>
                        <li class="text-info">First Name:</li>
                        <li><input type="text" value=""></li>
                    </ul>
                    <ul>
                        <li class="text-info">Last Name:</li>
                        <li><input type="text" value=""></li>
                    </ul>
                    <ul>
                        <li class="text-info">Email:</li>
                        <li><input type="text" value=""></li>
                    </ul>
                    <ul>
                        <li class="text-info">Password:</li>
                        <li><input type="password" value=""></li>
                    </ul>
                    <ul>
                        <li class="text-info">Re-enter Password:</li>
                        <li><input type="password" value=""></li>
                    </ul>
                    <ul>
                        <li class="text-info">Mobile Number:</li>
                        <li><input type="text" value=""></li>
                    </ul>
                    <input type="submit" value="Register Now">
                    <p class="click">By clicking this button, you are agree to my <a href="#">Policy Terms and
                        Conditions.</a></p>
                </form>
            </div>
        </div>
    </div>
    </body>
{% endblock content %}
