{% extends 'base.html' %}
{% block content %}
    <body>
    <div class="head-bread">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{% url 'shoes:home' %}">Home</a></li>
                <li class="active">Shop</li>
            </ol>
        </div>
    </div>
    <div class="showcase-grid">
        <div class="container">
            <div class="col-md-8 showcase">
                <div class="flexslider">
                    <ul class="slides">
                        <li data-thumb="images/show.jpg">
                            <div class="thumb-image"><img src="{{ product_pk.image.url }}" data-imagezoom="true"
                                                          class="img-responsive" alt=""></div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 showcase">
                <div class="showcase-rt-top">
                    <div class="pull-left shoe-name">
                        <h3>{{ product_pk.name }}</h3>
                        <p>{{ product_pk.types.name }}</p>
                        <p>{{ product_pk.character }}</p>
                        <h4>{{ product_pk.price }} {{ product_pk.price_type }}</h4>
                    </div>
                    <div class="pull-left rating-stars">
                        <ul>
                            <li><a href="#" class="active"><span class="glyphicon glyphicon-star star-stn"
                                                                 aria-hidden="true"></span></a></li>
                            <li><a href="#" class="active"><span class="glyphicon glyphicon-star star-stn"
                                                                 aria-hidden="true"></span></a></li>
                            <li><a href="#" class="active"><span class="glyphicon glyphicon-star star-stn"
                                                                 aria-hidden="true"></span></a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-star star-stn"
                                                  aria-hidden="true"></span></a>
                            </li>
                            <li><a href="#"><span class="glyphicon glyphicon-star star-stn"
                                                  aria-hidden="true"></span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600'
                      rel='stylesheet' type='text/css'>
                <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
                <style>
                    html, body {
                        height: 100%;
                    }

                    body, input, select {
                        padding: 0;
                        margin: 0;
                        outline: none;
                        font-family: Roboto, Arial, sans-serif;
                        font-size: 16px;
                        color: #eee;
                    }

                    h1, h3 {
                        font-weight: 400;
                    }

                    h1 {
                        font-size: 32px;
                    }

                    h3 {
                        color: #1c87c9;
                    }

                    .main-block, .info {
                        display: flex;
                        flex-direction: column;
                    }

                    .main-block {
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        min-height: 100%;
                        background: url("media/default/0001/01/e7a97bd9b2d25886cc7b9115de83b6b28b73b90b.jpeg") no-repeat center;
                        background-size: cover;
                    }

                    form {
                        width: 80%;
                        padding: 25px;
                        margin-bottom: 20px;
                        background: rgba(0, 0, 0, 0.9);
                    }

                    input, select {
                        padding: 5px;
                        margin-bottom: 20px;
                        background: transparent;
                        border: none;
                        border-bottom: 1px solid #eee;
                    }

                    input::placeholder {
                        color: #eee;
                    }

                    option {
                        background: white;
                        border: none;
                    }

                    .metod {
                        display: flex;
                    }

                    input[type=radio] {
                        display: none;
                    }

                    label.radio {
                        position: relative;
                        display: inline-block;
                        margin-right: 20px;
                        text-indent: 32px;
                        cursor: pointer;
                    }

                    label.radio:before {
                        content: "";
                        position: absolute;
                        top: -1px;
                        left: 0;
                        width: 17px;
                        height: 17px;
                        border-radius: 50%;
                        border: 2px solid #1c87c9;
                    }

                    label.radio:after {
                        content: "";
                        position: absolute;
                        width: 8px;
                        height: 4px;
                        top: 5px;
                        left: 5px;
                        border-bottom: 3px solid #1c87c9;
                        border-left: 3px solid #1c87c9;
                        transform: rotate(-45deg);
                        opacity: 0;
                    }

                    input[type=radio]:checked + label:after {
                        opacity: 1;
                    }

                    button {
                        display: block;
                        width: 200px;
                        padding: 10px;
                        margin: 20px auto 0;
                        border: none;
                        border-radius: 5px;
                        background: #1c87c9;
                        font-size: 14px;
                        font-weight: 600;
                        color: #fff;
                    }

                    button:hover {
                        background: #095484;
                    }

                    @media (min-width: 568px) {
                        .info {
                            flex-flow: row wrap;
                            justify-content: space-between;
                        }

                        input {
                            width: 46%;
                        }

                        input.fname {
                            width: 100%;
                        }

                        select {
                            width: 48%;
                        }
                    }
                </style>
                <div class="main-block">
                    <h1>Order Form</h1>
                    <form method="post">
                        {% csrf_token %}
                        <div class="info">
                            <input class="fname" type="text" name="name" id="single-name" placeholder="Name">
                            <input class="fname" type="email" name="email" id="single-email" placeholder="Email">
                            <input class="fname" type="text" name="phone" id="single-phone" placeholder="Phone number">
                            <div class="form-group">
                                <textarea class="form-control" name="map" id="message" cols="30" rows="2"
                                          placeholder="Location"></textarea>
                            </div>
                            {{ form.size }}<br>
                            {{ form.how }}
                        </div>
                        <button type="submit" class="button">Sotib olish</button>
                    </form>
                </div>

                <div class="showcase-last">
                    <h3>product details</h3>
                    <ul>
                        <li>Internal bootie wraps your foot for a sock-like fit</li>
                        <li>Unique eyestays work with the Flywire cables to create an even better glove-like fit</li>
                        <li>Waffle outsole for durability and multi-surface traction</li>
                        <li>Sculpted Cushlon midsole combines plush cushioning and springy resilience for impact
                            protection
                        </li>
                        <li>Midsole flex grooves for greater forefoot flexibility</li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="specifications">
        <div class="container">
            <h3>Item Details</h3>
            <div class="detai-tabs">
                <!-- Nav tabs -->
                <ul class="nav nav-pills tab-nike" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                                                              data-toggle="tab">Highlights</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Description</a>
                    </li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Terms
                        & conditiona</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <p>The full-length Max Air unit delivers excellent cushioning with enhanced flexibility for
                            smoother
                            transitions through footstrike.</p>
                        <p>Dynamic Flywire cables integrate with the laces and wrap your midfoot for a truly adaptive,
                            supportive fit.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <p>Nike is one of the leading manufacturer and supplier of sports equipment, footwear and
                            apparels.
                            Nike is a global brand and it continuously creates products using high technology and design
                            innovation. Nike has a vast collection of sports shoes for men at Snapdeal. You can explore
                            our
                            range of basketball shoes, football shoes, cricket shoes, tennis shoes, running shoes, daily
                            shoes or lifestyle shoes. Take your pick from an array of sports shoes in vibrant colours
                            like
                            red, yellow, green, blue, brown, black, grey, olive, pink, beige and white. Designed for top
                            performance, these shoes match the way you play or run. Available in materials like leather,
                            canvas, suede leather, faux leather, mesh etc, these shoes are lightweight, comfortable,
                            sturdy
                            and extremely sporty. The sole of all Nike shoes is designed to provide an increased amount
                            of
                            comfort and the material is good enough to provide an improved fit. These shoes are easy to
                            maintain and last for a really long time given to their durability. Buy Nike shoes for men
                            online with us at some unbelievable discounts and great prices. So get faster and run
                            farther
                            with your Nike shoes and track how hard you can play.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">
                        The images represent actual product though color of the image and product may slightly differ.
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock content %}